.main__movies {
  padding: 0 70px;
  flex: 1
}

@media screen and (max-width: 900px) {
  .main__movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .main__movies {
    padding: 0 10px;
  }
}
