.footer {
  padding: 80px 70px 20px;
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-areas:
    'topic topic'
    'copyright nav';
}
.footer__topic {
  grid-area: topic;
  padding: 0 0 20px;
  margin: 0 0 20px;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border-bottom: solid 1px #424242;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__nav {
  grid-area: nav;
  justify-self: flex-end;
}

.footer__ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.footer__copyright,
.footer__link {
  margin: 0;
  color: #fff;
  font-size: 13px;
  line-height: normal;
}

.footer__link:hover {
  color: #3ddc84;
}

@media screen and (max-width: 900px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-rows: auto;
    grid-template-areas:
      'topic'
      'nav'
      'copyright';
  }

  .footer__topic {
    margin: 0 0 28px;

    font-size: 12px;
  }

  .footer__copyright,
  .footer__link {
    font-size: 12px;
  }

  .footer__ul {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }

  .footer__nav {
    justify-self: center;
  }

  .footer__copyright {
    color: #8b8b8b;
    justify-self: center;
  }
}
