.techs {
  padding: 100px 70px 0;
  color: #fff;
  background: #272727;
}

.techs__topic {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__line {
  margin: 23px 0 0;
  height: 1px;
  background-color: #dadada;
}

.techs__description {
  margin: 90px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techs__description-topic {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
.techs__description-text {
  margin: 26px 0 0;
  max-width: 390px;

  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__nav {
  margin: 100px 0;
}
.techs__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.techs__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
  padding: 21px 0;
  width: 90px;

  font-size: 14px;
  letter-spacing: -0.56px;
}

.techs__link:hover {
  background-color: #3ddc84;
  color: #000;
}

@media screen and (max-width: 900px) {
  .techs {
    padding: 90px 50p 0x;
  }

  .techs__description {
    margin: 80px 0 0;
  }

  .techs__description-text {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__nav {
    margin: 83px 0 90px;
  }

  .techs__link {
    padding: 21px 0;
    width: 84px;

    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 500px) {
  .techs {
    background: transparent;
    padding: 70px 18px;
  }

  .techs__topic  {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .techs__line {
    margin-top: 28px;
    background-color: #000;
  }
  .techs__description {
    margin: 49px 0 0;
  }
  .techs__description-topic {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1.2px;
  }
  .techs__description-text {
    margin: 13px 0 0;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
  .techs__nav {
    margin: 50px 0 70px;
  }
  .techs__ul {
    width: 178px;
    margin: 0 auto;
    justify-content: flex-start;
  }

  .techs__link {
    padding: 22px 0;
    width: 84px;

    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.48px;
  }
}
